/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* App Wrapper */
.app {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

/* Piano Body */
.piano {
  position: relative;
  display: flex;
  height: 220px;
}

/* Common Key Styles */
.key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

/* White Keys */
.white {
  width: 80px;
  height: 220px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  padding-bottom: 10px;
}

/* Black Keys */
.black {
  position: absolute;
  width: 50px;
  height: 140px;
  background: #000;
  color: #fff;
  top: 0;
  z-index: 2;
  padding-bottom: 10px;
}

/* Position Black Keys */
.black[data-note="C#"] { left: 55px; }
.black[data-note="D#"] { left: 135px; }
.black[data-note="F#"] { left: 295px; }
.black[data-note="G#"] { left: 375px; }
.black[data-note="A#"] { left: 455px; }

/* Pressed Effect */
.key.active {
  background: #488fb8 !important;
  transform: translateY(3px);
}
